@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 71%, 66%);
  /* neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --heading: "Fraunces";
}

body {
  background-color: var(--white);
  font-size: 1.1rem;
  font-family: "Barlow", Arial;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  animation: flow-in 0.3s ease-in forwards;
}

.header {
  background: url(../images/desktop/image-header.jpg) bottom 0 center/cover;
  color: var(--white);
  min-height: 39rem;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
}

.header .navbar h3 a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  transition: 200ms ease-in-out;
}

.header .navbar h3 a:hover {
  font-size: 2.03rem;
  color: var(--dark-grayish-blue);
}

.header .navbar-links {
  list-style: none;
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header .navbar-links a {
  text-decoration: none;
  color: var(--white);
  transition: 200ms ease-in-out;
}

.header .navbar-links a:hover {
  color: var(--dark-grayish-blue);
}

.navbar-link__cta {
  animation: rotate 400ms 1s 2 none;
}

.header .navbar-link__cta a {
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  background: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  font-family: var(--heading);
  font-size: 0.9rem;
  transition: 200ms ease-in-out;
}

.header .navbar-link__cta a:hover {
  background-color: #83d6ff;
  color: var(--white);
}

.toggle-button {
  display: none;
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle-button:hover {
  background: rgba(224, 239, 255, 0.4);
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  border-radius: 3rem;
  height: 0.3rem;
  background: white;
  display: block;
  margin: 0.5rem 0;
}

.toggle-button .one {
  width: 55%;
}

.toggle-button .three {
  width: 85%;
}
.header .header-info {
  width: 70%;
  margin: 1.6rem auto;
  padding-top: 2rem;
  text-align: center;
  font-family: var(--heading), cursive;
}

.heading {
  font-family: var(--heading), cursive;
  font-size: 3rem;
}

.header .header-info h1 {
  letter-spacing: 8px;
  font-weight: bold;
}

.header .header-info img {
  margin-top: 3rem;
  animation: wiggle 500ms 3s 4 none;
}

.mobile-nav {
  background: hsla(0, 0%, 100%);
  width: 80%;
  height: 25rem;
  clip-path: polygon(1% 10%, 83% 10%, 100% 1%, 99% 99%, 1% 99%);
  text-align: center;
  margin: -21rem auto 0rem auto;
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
  animation: float-in 0.3s ease-out forwards;
}

.mobile-nav ul {
  list-style-type: none;
  padding: 1rem;
}

.mobile-nav li {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--very-dark-grayish-blue);
  display: block;
}

.mobile-nav .mobile-nav__cta {
  font-family: var(--heading);
  font-size: 1.1rem;
  color: black;
  background: var(--Yellow);
  padding: 1rem;
  border-radius: 2rem;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details .details-info {
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details .heading {
  color: var(--very-dark-desaturated-blue);
  font-size: 2rem;
}

.details .article {
  margin-bottom: 1.5rem;
}

.details .details-info p {
  color: var(--very-dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.5rem;
}

.details .details-learnmore a {
  text-decoration: none;
  font-family: var(--heading);
  color: var(--very-dark-desaturated-blue);
  border-bottom: 4px solid hsl(51, 91%, 69%);
  border-radius: 0.4rem;
  padding: 0 0.5rem;
}

.details .details-learnmore a:hover {
  border-bottom: 5px solid var(--Yellow);
  font-size: 1.3rem;
}

.details .details-image {
  width: 50%;
}

.details .desktop {
  display: block;
}

.details .mobile {
  display: none;
}

.details .details-image img {
  width: 100%;
}

.no-top {
  margin-top: -0.22rem;
}

#stand-out_link {
  border-bottom: 4px solid var(--soft-red);
}

#stand-out_link a {
  border-bottom: 5px solid var(--soft-red);
}

.details .stand-out-image {
  order: -1;
}

.services-image1,
.services-image2 {
  width: 50%;
  position: relative;
}

.services-image1 img,
.services-image2 img {
  width: 100%;
}

.services .services-info1,
.services .services-info2 {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2.4rem;
}

.services .services-header {
  margin: 1rem 0;
  color: var(--dark-desaturated-cyan);
  font-size: 1.5rem;
  font-family: "Fraunces", cursive;
}

.services p {
  color: var(--dark-desaturated-cyan);
  line-height: 1.8rem;
  font-size: 0.9rem;
}

.testimonials {
  margin: 6rem 0;
  font-size: 1rem;
}

.testimonials .heading {
  font-size: 1rem;
  text-align: center;
  word-spacing: 0.5rem;
  letter-spacing: 0.6rem;
}

.testimonials .heading,
.testimonials span {
  color: var(--very-dark-grayish-blue);
}

.testimonials-customers {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.testimonials-customer {
  padding: 2rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials-customer_img img {
  border-radius: 50%;
  border: 2px dotted var(--dark-grayish-blue);
}

.testimonials-customer_review p {
  margin: 2rem 0;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.customer-name {
  font-family: var(--heading);
}

.products-items {
  display: flex;
}

.products-items .mobile {
  display: none;
}

.products-item img {
  width: 100%;
}

footer {
  background-color: var(--dark-moderate-cyan);
  margin-top: -0.25rem;
  color: var(--dark-desaturated-cyan);
}

footer div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

footer div h2 {
  margin-bottom: -1rem;
}

footer div ul {
  list-style-type: none;
}

.footer-links,
.footer-socials {
  margin: 3rem 0;
}

.footer-link,
.footer-social {
  display: inline-block;
}

.footer-link {
  margin: 0 1.5rem;
}

.footer-link a {
  text-decoration: none;
  color: inherit;
  transition: 200ms ease-in-out;
}

.footer-link a:hover {
  color: var(--white);
}

.footer-social {
  margin: 0 1rem;
}

.footer-social svg path {
  transition: 200ms ease-in-out;
}

.footer-social svg path:hover {
  fill: var(--white);
}

.close {
  display: none;
}

/* key frames */
@keyframes wiggle {
  from {
    margin-top: 3rem;
  }
  to {
    margin-top: 5rem;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes float-in {
  from {
    transform: translateY(-3rem);
  }
  to {
    transform: translateY((0));
  }
}
@keyframes flow-in {
  from {
    background: rgba(0, 0, 0, 0.1);
  }
  to {
    background: rgba(0, 0, 0, 0.7);
  }
}

/* media queries */
@media (min-width: 18.7rem) and (max-width: 46rem) {
  .header {
    background: url(../images/mobile/image-header.jpg) bottom 0 center/cover;
    color: var(--white);
    min-height: 39rem;
  }
  .header .navbar-links {
    display: none;
  }
  .toggle-button {
    display: block;
    text-align: -webkit-right;
  }
  .header .header-info {
    width: 90%;
  }
  .header .header-info h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .details {
    flex-direction: column;
  }
  .transform-details {
    order: 1;
  }
  .details .details-info {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }
  .details .details-image {
    width: 100%;
  }
  .details .desktop {
    display: none;
  }
  .details .mobile {
    display: block;
    max-height: 38rem;
  }
  .no-top {
    margin-top: 3rem;
  }
  .services-image1,
  .services-image2 {
    width: 100%;
  }
  .services .services-info {
    flex-direction: column;
  }
  .services .services-info__details {
    width: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
  }
  .services .services-info1,
  .services .services-info2 {
    width: 100%;
  }
  .services-image1 img,
  .services-image2 img {
    max-height: 38rem;
    margin-top: -0.25rem;
  }
  .testimonials .heading {
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
  }
  .testimonials-customers {
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;
  }
  .testimonials-customer_review p {
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .customer-name {
    margin: 0.5rem 0;
  }
  .products-item .desktop {
    display: none;
  }
  .products-item .mobile {
    display: block;
  }
  .products-items {
    flex-wrap: wrap;
  }
  .products-item {
    flex: 1 1 50%;
  }
  footer div h2 {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
  footer div {
    width: 100%;
    padding: 2rem 0;
  }
}

@media (min-width: 25.6rem) and (max-width: 36.5rem) {
  .services-image1,
  .services-image2 {
    max-width: 24rem;
    margin: 0 auto;
  }
}

@media (min-width: 37rem) and (max-width: 46rem) {
  .services .mobile {
    display: none;
  }
  .services .desktop {
    display: block;
  }
  .services-image1,
  .services-image2 {
    max-width: max-content;
  }
}
